<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include('../partials/head') %>

</head>

<body class="container">

 

    <header>

        <%- include('../partials/header') %>

    </header>

 

    <main>

        <div class="jumbotron">

          <p> Vous etes dans la section recherche. Voici les resultats pour la date de <%= mois %> <%= annee %>. </p><br />
          <a href="/" target="_SELF">acceuil</a><br />

        </div>

    </main>

 

    <footer>

        <%- include('../partials/footer') %>

    </footer>

   

</body>

</html>